/* line 5, nav.scss */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: url(../img/blue-90.png) repeat;
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 5000;
}
/* line 16, nav.scss */
header #headerWrap {
  width: 960px;
  margin: 0 auto;
}
/* line 21, nav.scss */
header #headerWrap h1 {
  text-indent: -9999px;
  display: block;
  width: 156px;
  height: 154px;
  background: url(../img/bum-logo.png) no-repeat;
  position: absolute;
  top: 8px;
  margin: 0;
}
/* line 31, nav.scss */
header #headerWrap h1 a {
  display: block;
  width: inherit;
  height: inherit;
  outline: none;
}
/* line 39, nav.scss */
header #headerWrap h2 {
  text-indent: -9999px;
  display: block;
  width: 138px;
  height: 40px;
  background: url(../img/col-logo.png) 0 10px no-repeat;
  float: left;
  margin-left: 170px;
}
/* line 48, nav.scss */
header #headerWrap h2 a {
  display: block;
  width: inherit;
  height: inherit;
  outline: none;
}
/* line 56, nav.scss */
header #headerWrap nav {
  display: block;
  float: left;
  height: 70px;
  margin: 0;
  width: auto;
  margin-left: 36px;
}
/* line 64, nav.scss */
header #headerWrap nav li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #10459d;
  float: left;
}
/* line 77, nav.scss */
header #headerWrap nav li a {
  margin: 0;
  padding: 0;
  width: inherit;
  display: block;
  line-height: 70px;
  height: 70px;
  float: none;
  background: transparent;
  outline: none;
}
/* line 89, nav.scss */
header #headerWrap nav li a.current {
  text-decoration: none;
  color: #00ffff;
  cursor: default;
}
/* line 97, nav.scss */
header #headerWrap #soc-nav {
  height: 67px;
  float: left;
  padding-left: 7px;
  overflow: hidden;
  width: 108px;
  padding-top: 3px;
}
/* line 105, nav.scss */
header #headerWrap #soc-nav h6 {
  color: #66ccff;
  font-size: 11px;
  margin: 0;
}
/* line 111, nav.scss */
header #headerWrap #soc-nav ul {
  margin: 0;
  padding: 0;
}
/* line 116, nav.scss */
header #headerWrap #soc-nav ul li {
  display: inline-block;
  text-indent: -9999px;
  padding-right: 15px;
  float: left;
}
/* line 122, nav.scss */
header #headerWrap #soc-nav ul li a {
  line-height: 70px;
  display: block;
}
/* line 129, nav.scss */
header #headerWrap #soc-nav ul #fb-follow {
  width: 29px;
  height: 29px;
  background: url(../img/fb-lg-2.png) no-repeat;
}
/* line 135, nav.scss */
header #headerWrap #soc-nav ul #tw-follow {
  width: 35px;
  height: 28px;
  background: url(../img/tw-lg.png) no-repeat;
}

/* line 145, nav.scss */
#mainContainer {
  text-align: center;
  color: #fff;
}
