/* line 4, ../sass/popup.scss */
.popup-video header {
  position: absolute;
}

/* line 10, ../sass/popup.scss */
.contest-rules header {
  position: absolute;
}
/* line 14, ../sass/popup.scss */
.contest-rules #mainContainer {
  text-align: left !important;
  padding-top: 207px;
}
/* line 19, ../sass/popup.scss */
.contest-rules #mainContainer p {
  color: #0088ce !important;
}
/* line 23, ../sass/popup.scss */
.contest-rules #mainContainer h3 {
  color: #0088ce !important;
  font-size: 16px;
  line-height: 26px;
}
/* line 29, ../sass/popup.scss */
.contest-rules #mainContainer h2 {
  color: #0088ce !important;
  font-size: 20px;
  line-height: 26px;
}
/* line 35, ../sass/popup.scss */
.contest-rules #mainContainer ol {
  color: #0088CE !important;
  padding: 0;
  margin: 0 0 0 24px;
}
/* line 41, ../sass/popup.scss */
.contest-rules #mainContainer section {
  width: 940px;
}
/* line 43, ../sass/popup.scss */
.contest-rules #mainContainer table {
  border: 1px solid #0088ce;
  margin: 30px auto;
}
/* line 46, ../sass/popup.scss */
.contest-rules #mainContainer table th {
  text-align: center;
  padding: 10px;
}
/* line 50, ../sass/popup.scss */
.contest-rules #mainContainer table td {
  padding: 2px 30px;
  width: 54px;
  border: 1px solid #0088ce;
}
/* line 56, ../sass/popup.scss */
.contest-rules #mainContainer table.themes td + td {
  width: 150px;
}
/* line 58, ../sass/popup.scss */
.contest-rules #mainContainer table.themes td + td + td {
  width: 100px;
}
/* line 64, ../sass/popup.scss */
.contest-rules #mainContainer table.notifications td + td {
  width: 150px;
  padding-left: 50px;
  padding-right: 0;
}
/* line 72, ../sass/popup.scss */
.contest-rules #mainContainer .popup-hero {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: -4px;
  z-index: 8000;
  padding: 0 84px;
}
/* line 81, ../sass/popup.scss */
.contest-rules #mainContainer .popup-banner {
  position: absolute;
  top: 66px;
  z-index: 1000;
}
/* line 87, ../sass/popup.scss */
.contest-rules #mainContainer .sectionWrapper.wrapperOmniHeat {
  background-color: black;
  margin-top: 74px;
}
/* line 91, ../sass/popup.scss */
.contest-rules #mainContainer .sectionWrapper.wrapperOmniHeat p {
  color: #fff !important;
}
/* line 96, ../sass/popup.scss */
.contest-rules #mainContainer .sectionWrapper.wrapperProductCallout {
  text-align: center;
}
/* line 99, ../sass/popup.scss */
.contest-rules #mainContainer .sectionWrapper.wrapperProductCallout p {
  color: #fff !important;
}
/* line 104, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav {
  height: 67px;
  float: left;
  padding-left: 7px;
  overflow: hidden;
  width: 108px;
  padding-top: 3px;
  position: absolute;
  margin-left: 852px;
  margin-top: -228px;
  z-index: 10000;
}
/* line 117, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav h6 {
  color: #66ccff;
  font-size: 11px;
  margin: 0;
}
/* line 123, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav ul {
  margin: 0;
  padding: 0;
}
/* line 128, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav ul li {
  display: inline-block;
  text-indent: -9999px;
  padding-right: 15px;
  float: left;
}
/* line 134, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav ul li a {
  line-height: 70px;
  display: block;
}
/* line 141, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav ul #fb-follow {
  width: 29px;
  height: 29px;
  background: url(../img/fb-lg-2.png) no-repeat;
}
/* line 147, ../sass/popup.scss */
.contest-rules #mainContainer #soc-nav ul #tw-follow {
  width: 29px;
  height: 30px;
  background: url(../img/tw-lg.png) no-repeat;
}
/* line 156, ../sass/popup.scss */
.contest-rules #mainContainer footer p {
  color: #666 !important;
  font-size: 12px;
  line-height: 22px;
}
